html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: rgb(191, 191, 191);
}

h1 {
    margin: 0;
    font-size: 20px;
}

.center {
    display: flex;
    width: 100%;
    height: 90%;
}

.pokeball-display {
    display: flex;
    align-items: center;
    height: 100%;
    width: 15%;
}

.ball-boxes {
    border: 2px solid black;
    border-radius: 0 20px 20px 0;
    background: radial-gradient(white -200%, rgb(63, 37, 15));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.ball-box {
    margin: 20px 0;
    height: 120px;
    width: 120px;
    z-index: 2;
}

.ball-box img {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.pokemon {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background: linear-gradient(black -30%, rgb(167, 167, 167) 70%);
    margin-right: 320px;
}

.pokemon img{
    max-width: 300px;
    padding-bottom: 20px;
    z-index: 1;
}

.oak {
    height: 400px;
    width: 256px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 300px;
}

.oak img {
    height: 100%;
}

.platform {
    position: absolute;
    background: radial-gradient(black, rgb(167, 167, 167) 70%);
    width: 340px;
    height: 50px;
    bottom: 10px;
    border-radius: 50%;
}

.text-box {
    border: 2px dashed black;
    border-radius: 50px;
    width: 100%;
    height: 20%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.text {
    height: 50%;
    width: 75%;
}

.selection {
    border: 4px solid black;
    border-radius: 40px;
    height: 80%;
    width: 22%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.option1-bar, .option2-bar {
    padding-left: 40px;
    display: flex;
}

.option1, .option2 {
    cursor: pointer;
}

.option1-bar:hover, .option2-bar:hover {
    padding-left: 10px;
}

.option1-bar:hover .selector1, .option2-bar:hover .selector2{
    display: block;
}

.selector1, .selector2 {
    display: none;
}

footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    background: linear-gradient(rgb(49, 202, 202) 70%, rgb(56, 170, 56));
}

.signature {
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 10px; 
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 1px gray;
}

.ash-pikachu-zone {
    height: 100%;
    position: absolute;
    width: 70px;
    right: 0;
}

.ash, .pikachu {
    cursor: pointer;
    height: 75%;
    position: absolute;
}

.ash {
    right: 40px;
    bottom: 2px;
}

.pikachu {
    right: 5px;
    bottom: 1px;
}

.ash-pikachu-zone img {
    height: 100%;
    z-index: 1;
}

.ball-box:hover {
    animation: bounce 1.5s cubic-bezier(0,.37,.72,1.12) infinite;
}

@keyframes bounce {
    0%, 45%, 65%, 80%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-16px);
    }
    50% {
        transform: translateY(-6px);
    }
    55% {
        transform: translateY(-8px);
    }
    70% {
        transform: translateY(-3px);
    }
    75% {
        transform: translateY(-4px);
    }
}

.ball-send {
    height: 120px;
    width: 120px;
    animation: send 3s linear;
}

@keyframes send {
    33% {
        transform: translateX(400px);
    }
    67% {
        transform: translate(400px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}

.hide {
    animation: hide 1s linear forwards;
}

@keyframes hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}

.show {
    animation: show 1s linear forwards;
}

@keyframes show {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
}

.oak-flee {
    animation: flee 7s linear forwards;
}

@keyframes flee {
    15%, 25% {
        transform: translateX(150px);
    }
    40%, 50% {
        transform: translateX(300px);
    }
    55% {
        transform: translateX(600px);
    }
    56%, 100% {
        transform: rotate(-90deg) translateY(700px);
    }
    80%, 95% {
        transform: rotate(-90deg) translateY(500px);
    }
}

.pokemon-cry {
    animation: cry 2s linear;
}

@keyframes cry {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-60px);
    }
    60% {
        transform: rotate(-90deg) translateX(50px);
    }
    70% {
        transform: rotate(-180deg) translateY(50px); 
    }
    80% {
        transform: rotate(-270deg) translateX(-50px);
    }
    90% {
        transform: rotate(-360deg) translateY(-50px);
    }
}

.ash-move1 {
    animation: ash-walk1 10s linear forwards;
}

@keyframes ash-walk1 {

    2% {
        transform: translate(-40px, 3px);
    }
    4% {
        transform: translate(-80px, 0);
    }
    6% {
        transform: translate(-120px, 3px);
    }
    8% {
        transform: translate(-160px, 0);
    }
    10% {
        transform: translate(-200px, 3px);
    }
    12% {
        transform: translate(-240px, 0);
    }
    14% {
        transform: translate(-280px, 3px);
    }
    16% {
        transform: translate(-320px, 0);
    }
    18% {
        transform: translate(-360px, 3px);
    }
    20% {
        transform: translate(-400px, 0);
    }
    22% {
        transform: translate(-440px, 3px);
    }
    24% {
        transform: translate(-480px, 0);
    }
    26% {
        transform: translate(-520px, 3px);
    }
    28% {
        transform: translate(-560px, 0);
    }
    30% {
        transform: translate(-600px, 3px);
    }
    32% {
        transform: translate(-640px, 0);
    }
    34% {
        transform: translate(-680px, 3px);
    }
    36% {
        transform: translate(-720px, 0);
    }
    38% {
        transform: translate(-760px, 3px);
    }
    40% {
        transform: translate(-800px, 0);
    }
    42% {
        transform: translate(-840px, 3px);
    }
    44% {
        transform: translate(-880px, 0);
    }
    46% {
        transform: translate(-920px, 3px);
    }
    48% {
        transform: translate(-960px, 0);
    }
    50% {
        transform: translate(-1000px, 3px);
    }
    52% {
        transform: translate(-1040px, 0);
    }
    54% {
        transform: translate(-1080px, 3px);
    }
    56% {
        transform: translate(-1120px, 0);
    }
    58% {
        transform: translate(-1160px, 3px);
    }
    60% {
        transform: translate(-1200px, 0);
    }
    62% {
        transform: translate(-1240px, 3px);
    }
    64% {
        transform: translate(-1280px, 0);
    }
    66% {
        transform: translate(-1320px, 3px);
    }
    68% {
        transform: translate(-1360px, 0);
    }
    70% {
        transform: translate(-1400px, 3px);
    }
    72% {
        transform: translate(-1440px, 0);
    }
    74% {
        transform: translate(-1480px, 3px);
    }
    76% {
        transform: translate(-1520px, 0);
    }
    78% {
        transform: translate(-1560px, 3px);
    }
    80% {
        transform: translate(-1600px, 0);
    }
    82% {
        transform: translate(-1640px, 3px);
    }
    84% {
        transform: translate(-1680px, 0);
    }
    86% {
        transform: translate(-1720px, 3px);
    }
    88% {
        transform: translate(-1760px, 0);
    }
    90% {
        transform: translate(-1800px, 3px);
    }
    92% {
        transform: translate(-1840px, 0);
    }
    94% {
        transform: translate(-1880px, 3px);
    }
    96% {
        transform: translate(-1920px, 0);
    }
    98% {
        transform: translate(-1960px, 3px);
    }
    100% {
        transform: translate(-2000px, 0);
    }
}

.ash-move2 {
    animation: ash-walk2 5s linear forwards;
}

@keyframes ash-walk2 {

}

.pikachu-move1 {
    animation: pika-walk1 3.33s linear 3 forwards;
}

@keyframes pika-walk1 {

    2% {
        transform: translate(-40px, 2px);
    }
    4% {
        transform: translate(-80px, 0);
    }
    6% {
        transform: translate(-120px, 2px);
    }
    8% {
        transform: translate(-160px, 0);
    }
    10% {
        transform: translate(-200px, 2px);
    }
    12% {
        transform: translate(-240px, 0);
    }
    14% {
        transform: translate(-280px, 2px);
    }
    16% {
        transform: translate(-320px, 0);
    }
    18% {
        transform: translate(-360px, 2px);
    }
    20% {
        transform: translate(-400px, 0);
    }
    22% {
        transform: translate(-440px, 2px);
    }
    24% {
        transform: translate(-480px, 0);
    }
    26% {
        transform: translate(-520px, 2px);
    }
    28% {
        transform: translate(-560px, 0);
    }
    30% {
        transform: translate(-600px, 2px);
    }
    32% {
        transform: translate(-640px, 0);
    }
    34% {
        transform: translate(-680px, 2px);
    }
    36% {
        transform: translate(-720px, 0);
    }
    38% {
        transform: translate(-760px, 2px);
    }
    40% {
        transform: translate(-800px, 0);
    }
    42% {
        transform: translate(-840px, 2px);
    }
    44% {
        transform: translate(-880px, 0);
    }
    46% {
        transform: translate(-920px, 2px);
    }
    48% {
        transform: translate(-960px, 0);
    }
    50% {
        transform: translate(-1000px, 2px);
    }
    52% {
        transform: translate(-1040px, 0);
    }
    54% {
        transform: translate(-1080px, 2px);
    }
    56% {
        transform: translate(-1120px, 0);
    }
    58% {
        transform: translate(-1160px, 2px);
    }
    60% {
        transform: translate(-1200px, 0);
    }
    62% {
        transform: translate(-1240px, 2px);
    }
    64% {
        transform: translate(-1280px, 0);
    }
    66% {
        transform: translate(-1320px, 2px);
    }
    68% {
        transform: translate(-1360px, 0);
    }
    70% {
        transform: translate(-1400px, 2px);
    }
    72% {
        transform: translate(-1440px, 0);
    }
    74% {
        transform: translate(-1480px, 2px);
    }
    76% {
        transform: translate(-1520px, 0);
    }
    78% {
        transform: translate(-1560px, 2px);
    }
    80% {
        transform: translate(-1600px, 0);
    }
    82% {
        transform: translate(-1640px, 2px);
    }
    84% {
        transform: translate(-1680px, 0);
    }
    86% {
        transform: translate(-1720px, 2px);
    }
    88% {
        transform: translate(-1760px, 0);
    }
    90% {
        transform: translate(-1800px, 2px);
    }
    92% {
        transform: translate(-1840px, 0);
    }
    94% {
        transform: translate(-1880px, 2px);
    }
    96% {
        transform: translate(-1920px, 0);
    }
    98% {
        transform: translate(-1960px, 2px);
    }
    100% {
        transform: translate(-2000px, 0);
    }
}

.pikachu-move2 {
    animation: pikachu-walk2 5s linear forwards;
}

@keyframes pikachu-walk2 {
    
}

.sig-move {
    animation: cloud 10s linear;
}

@keyframes cloud {

    20% {
        transform: translateY(3px);
    }
    40% {
        transform: translateY(-3px);
    }
    60% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}